.query-container {
    width: 100vw;
    /* Set your desired width */
    height: 100vh;
    /* background-image: url('/images/background.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.input:focus {
    outline: none;
}


.query-span {
    padding-top: 14px!important;
    padding-bottom: 6px!important;
}

.query-button {
    padding-top: 6px!important;
    padding-bottom: 6px!important;
}